@model IEnumerable<Blog.Models.Posts>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
	<a asp-action="Create">Create New</a>
</p>
<div class="row">
	<div class="header">
		<h2>Chomikowe rozmaitości</h2>
	</div>
	<div class="leftcolumn">
		@foreach (var item in Model.OrderByDescending(x=>x.CreateDate))
		{
			<div class="card">
				<h2>@Html.DisplayFor(modelItem => item.Title)</h2>

				<h5>@Html.DisplayFor(modelItem => item.PostName), @Html.DisplayFor(modelItem => item.CreateDate)</h5>
				<div class="fakeimg" style="height:200px;">Image</div>
				<br />
				<p>@Html.DisplayFor(modelItem => item.Content)</p>
			</div>
		}
	</div>
	<div class="rightcolumn">
		<div class="card">
			<h2>O mnie</h2>
			<img class="about-me-image" src="~/images/chomik.jpg" />
			<p>Nazywam się Magda. Uwielbiam chomiki, dlatego też chętnie opowiem Wam o nich więcej na moim blogu. Zapraszam do lektury. :)</p>
		</div>
		<div class="card">
			<h3>Popularne posty</h3>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div><br>
			<div class="fakeimg">Image</div>
		</div>
		<div class="card">
			<h3>Znajdź mnie</h3>
			<a href="https://github.com/Zedzian" class="fab fa-github-alt fa-w-15 fa-2x github-link"></a>
		</div>
	</div>
</div>