<div class="row">
    <div class="col-md-6">
        <h2>Podziękowania</h2>
            <p>Chciałabym podziękować mojemu narzeczonemu - Łukaszowi, który motywuje mnie do pracy i jest moim życiowym mentorem.</p>
            <p>Buziaki. Kocham Cię Łukasz :)</p>
    </div>
</div>
